[Unit]
Description=Django-Backend-Portal-User
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/ubuntu/portal-usr-python/manage.py runserver 0.0.0.0:8000

[Install]
WantedBy=multi-user.target
